@import "tailwindcss";

@theme {
  --color-primary: #FAF9F6;
  --color-text-main: #2C3E50;
  --color-accent: #D35400;

  --font-heading: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
}
